In [1]:
from DataFrame_maker import crear_dataframe_corrientes_desde_pickle, create_sample_data, leer_datos_de_corrientes_pickle
from prueba import InteractivePlotterTk
import os
# from GraCorrector import GraCorrector

from Gra import GraficoInteractivo
# %matplotlib qt
import pandas as pd
import numpy as np
import importlib
import pickle

import netCDF4
import matplotlib.pyplot as plt
import datetime
import numpy as np
import matplotlib.dates as mdates

In [2]:
# CARGAR SI ES NECESARI
# Cargar el objeto en el archivo (usando 'with' para asegurar que el archivo se cierre automáticamente)
nombre_archivo = 'BMT3_3_corregidos_diciembre2025.pkl'

with open(nombre_archivo, 'rb') as archivo:
    data = pickle.load(archivo)
print(f"¡Datos cargados exitosamente desde '{nombre_archivo}'!")
print(data)

¡Datos cargados exitosamente desde 'BMT3_3_corregidos_diciembre2025.pkl'!
            tspan  Salinidad_BMT3_3
0    20423.000000               NaN
1    20423.041667           35.8764
2    20423.083333           35.8264
3    20423.125000           35.7323
4    20423.166667               NaN
..            ...               ...
739  20453.791667           35.5610
740  20453.833333           35.3837
741  20453.875000           35.6986
742  20453.916667               NaN
743  20453.958333           35.9275

[744 rows x 2 columns]

In [ ]:
# Rutas 
carpeta = "/Med_2025-2026/Reportes_Edit/Reporte_4.4/2025/12. Diciembre/BMT3-03-T80/DATOS"
archivo = 'msj24_validados_realt_2025120100_2025123123.pkl'
ruta_BMT3_3 = os.path.join(carpeta, archivo)
data_BMT3_3 = leer_datos_de_corrientes_pickle(ruta_BMT3_3)

In [17]:
data_BMT3_3.keys()

Index(['EPROM', 'Temp', 'Niveles', 'Separacion',
       'Distancia de blanqueo (ADCP P)',
       'Prof del instrumento al nivel medio del mar (ADCP)',
       'Profundidad inicial', 'Rap', 'Dir', 'u', 'v', 'Amplitud del eco1',
       'Amplitud del eco2', 'Amplitud del eco3', 'Heading', 'Pitch', 'Roll',
       'Temperatura del agua (MCT)', 'Conductividad', 'Salinidad', 'Lat',
       'Lon', 'TiranteDiseno', 'TiranteEstimado', 'nombreBoya', 'Tab',
       'origenDeLosDatos', 'tipoDeEntregable', 'NoDatalogger',
       'ProfDisenoCorr', 'ModeloInstCorr', 'NoSerieInstCorr', 'ProfIni',
       'NoSerieInstCorri', 'ProfDisenoCorri', 'ModeloInstCorri', 'ProfMCT',
       'ModeloInstMCT', 'NoSerieInstMCT'],
      dtype='object')

In [4]:
data_BMT3_3.head()

,EPROM,Temp,Niveles,Separacion,Distancia de blanqueo (ADCP P),Prof del instrumento al nivel medio del mar (ADCP),Profundidad inicial,Rap,Dir,u,...,ProfDisenoCorr,ModeloInstCorr,NoSerieInstCorr,ProfIni,NoSerieInstCorri,ProfDisenoCorri,ModeloInstCorri,ProfMCT,ModeloInstMCT,NoSerieInstMCT
Fecha y hora de medicion,,,,,,,,,,,,,,,,,,,,,
2025-12-01 00:00:00,610701ae49aac538,27.54,1.0,1.0,1.0,0.58,[3],"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...",...,1,SIG250DW,103648,3.0,AQD18160,1,AQUADOPP,1,SBE37M,6270
2025-12-01 01:00:00,610701ae49aac538,27.53,1.0,1.0,1.0,0.58,[3],"[nan, nan, nan, 0.022, nan, nan, nan, nan, nan...","[nan, nan, nan, 278.0, nan, nan, nan, nan, nan...","[nan, nan, nan, -0.021785897512314547, nan, na...",...,1,SIG250DW,103648,3.0,AQD18160,1,AQUADOPP,1,SBE37M,6270
2025-12-01 02:00:00,610701ae49aac538,27.45,1.0,1.0,1.0,0.58,[3],"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...",...,1,SIG250DW,103648,3.0,AQD18160,1,AQUADOPP,1,SBE37M,6270
2025-12-01 03:00:00,610701ae49aac538,27.44,1.0,1.0,1.0,0.58,[3],"[nan, nan, nan, 0.03, nan, nan, nan, nan, nan,...","[nan, nan, nan, 203.0, nan, nan, nan, nan, nan...","[nan, nan, nan, -0.011721933854678205, nan, na...",...,1,SIG250DW,103648,3.0,AQD18160,1,AQUADOPP,1,SBE37M,6270
2025-12-01 04:00:00,610701ae49aac538,27.40,1.0,1.0,1.0,0.58,[3],"[nan, nan, nan, 0.059, nan, nan, nan, nan, nan...","[nan, nan, nan, 182.0, nan, nan, nan, nan, nan...","[nan, nan, nan, -0.002059070305447553, nan, na...",...,1,SIG250DW,103648,3.0,AQD18160,1,AQUADOPP,1,SBE37M,6270

In [5]:
# Unir los datos
data.columns  = ["tspan_num","Salinidad"]

In [6]:
data["tspan"] = mdates.num2date(data["tspan_num"])
data["tspan"] = data["tspan"].dt.tz_localize(None)

In [7]:
data.head()

      tspan_num  Salinidad               tspan
0  20423.000000        NaN 2025-12-01 00:00:00
1  20423.041667    35.8764 2025-12-01 01:00:00
2  20423.083333    35.8264 2025-12-01 02:00:00
3  20423.125000    35.7323 2025-12-01 03:00:00
4  20423.166667        NaN 2025-12-01 04:00:00

In [ ]:
# Ahora que data (los datos corregidos) y data_BMT3_3 (los datos originales) tienen la misma columna de tiempo, podemos unirlos.
# 1. Colocar a tspan como índice en data (los datos corregidos)
data.set_index("tspan", inplace=True)

In [12]:
# 2. Hacer un dataframe temporal a partir de los datos corregidos que tenga solo las fechas y los datos NaN.
data_solo_nans = data[data["Salinidad"].isna()]
data_solo_nans.head()

                        tspan_num  Salinidad
tspan
2025-12-01 00:00:00  20423.000000        NaN
2025-12-01 04:00:00  20423.166667        NaN
2025-12-01 05:00:00  20423.208333        NaN
2025-12-01 06:00:00  20423.250000        NaN
2025-12-01 07:00:00  20423.291667        NaN

In [ ]:
#3. Ahora debo hacer una copia del df de datos reales
datos_reales = data_BMT3_3.copy()
datos_reales.loc[data_solo_nans.index, ["Salinidad","Conductividad"]] = np.nan
datos_reales[["Salinidad","Conductividad"]].head(20) # Verifico que se hayan puesto NaN en las fechas correctas

In [22]:
# Guardar el DataFrame corregido en un archivo .pkl usando pickle
# Especifica el nombre del archivo
nombre_archivo = 'msj24_validados_realt_2025120100_2025123123.pkl'

# Guardar el objeto en el archivo (usando 'with' para asegurar que el archivo se cierre automáticamente)
with open(nombre_archivo, 'wb') as archivo:
    pickle.dump(datos_reales, archivo)
print(f"¡Datos guardados exitosamente en '{nombre_archivo}'!")

¡Datos guardados exitosamente en 'msj24_validados_realt_2025120100_2025123123.pkl'!

In [ ]:
# Cargar el objeto en el archivo (usando 'with' para asegurar que el archivo se cierre automáticamente)
carpeta = "/Med_2025-2026/Reportes_Edit/Reporte_4.4/2025/12. Diciembre/BMT3-03-T80/DATOS"
archivo = 'msj24_reemplazados_realt_2025120100_2025123123.pkl'
ruta_reemplazados = os.path.join(carpeta, archivo)
reemplazados = leer_datos_de_corrientes_pickle(ruta_reemplazados)
reemplazados.tail()

,fecha,fila,nivel,valor_original,variable,motivo
19,2025-12-21 20:00:00,500,3,-0.219910,u,NaN propagado por Dir
20,2025-12-21 20:00:00,500,3,-0.219910,v,NaN propagado por Dir
21,2025-12-24 22:00:00,574,3,225.000000,Dir,Valor bandera: 225
22,2025-12-24 22:00:00,574,3,-0.195161,u,NaN propagado por Dir
23,2025-12-24 22:00:00,574,3,-0.195161,v,NaN propagado por Dir

In [ ]:
motivo = "correccion manual"
variable = "Salinidad"
nivel = 3
for idx in data_solo_nans.index:
    valor_original = data_BMT3_3.loc[idx, variable]
    fila = data_BMT3_3.index.get_loc(idx)
    reemplazados.loc[len(reemplazados)] = [idx, fila, nivel, valor_original, variable, motivo]
    
reemplazados.tail()

,fecha,fila,nivel,valor_original,variable,motivo
564,2025-12-31 15:00:00,735,3,33.8931,Salinidad,correccion manual
565,2025-12-31 16:00:00,736,3,34.5732,Salinidad,correccion manual
566,2025-12-31 17:00:00,737,3,34.6722,Salinidad,correccion manual
567,2025-12-31 18:00:00,738,3,34.6285,Salinidad,correccion manual
568,2025-12-31 22:00:00,742,3,35.1956,Salinidad,correccion manual

In [28]:
motivo = "correccion manual"
variable = "Conductividad"
nivel = 3
for idx in data_solo_nans.index:
    valor_original = data_BMT3_3.loc[idx, variable]
    fila = data_BMT3_3.index.get_loc(idx)
    reemplazados.loc[len(reemplazados)] = [idx, fila, nivel, valor_original, variable, motivo]
    
reemplazados.tail()

,fecha,fila,nivel,valor_original,variable,motivo
1109,2025-12-31 15:00:00,735,3,5.30188,Conductividad,correccion manual
1110,2025-12-31 16:00:00,736,3,5.39711,Conductividad,correccion manual
1111,2025-12-31 17:00:00,737,3,5.40927,Conductividad,correccion manual
1112,2025-12-31 18:00:00,738,3,5.40393,Conductividad,correccion manual
1113,2025-12-31 22:00:00,742,3,5.48165,Conductividad,correccion manual

In [29]:
# Guardar el DataFrame corregido en un archivo .pkl usando pickle
# Especifica el nombre del archivo
nombre_archivo = 'msj24_reemplazados_realt_2025120100_2025123123.pkl'

# Guardar el objeto en el archivo (usando 'with' para asegurar que el archivo se cierre automáticamente)
with open(nombre_archivo, 'wb') as archivo:
    pickle.dump(reemplazados, archivo)
print(f"¡Datos guardados exitosamente en '{nombre_archivo}'!")

¡Datos guardados exitosamente en 'msj24_reemplazados_realt_2025120100_2025123123.pkl'!